
@{
    ViewBag.Title = "Five";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Five</h2>

<form action="/Five/PlayFirst" method="post">
    <input type="submit" value="PlayFirst" />
</form>

<form action="/Five/PlaySecond" method="post">
    <input type="submit" value="PlaySecond" />
</form>